.image-partenaire {
   display: flex;
   justify-content: space-around;
   align-content: center;
   flex-flow: row wrap;
}
.my-color
{
    background-color: #445488;
    margin: 10% 10% 0% 0%;
    text-align: center;
}
.my-color2
{
    background-color: #212529;
    margin: 10% 10% 0% 0%;
    text-align: center;
}
.my-disposition 
{
    display: flex;
    justify-content: center;
}